* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

nav {
    height: 75px;
    width: 100%;
    line-height: 75px;
    padding: 0px 150px;
    position: fixed;
    background-image: linear-gradient(white,white);
}

.container-fluid img {
    float: left;
    height: 75px;
    display: flex;
    align-items: center;
    transition: transform 0.5s ease-in-out;
}
.container-fluid img:hover{
    transform: rotate(360deg);
}
nav .logo p {
    font-size: 20px;
    font-weight: bolder;
    float: left;
    display: flex;
    text-transform: uppercase;
    cursor: pointer;
    height: 75px;
    font-family: Tahoma, sans-serif;
}

nav ul {
    padding-left: 47rem;
}

nav li {
    display: inline-block;
    list-style: none;
}

nav li a {
    font-size: 15px;
    text-transform: uppercase;
    padding: 0px 30px;
    color: #6F7A93;
    font-weight: bold;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

nav li a:hover{
    text-decoration: underline;
}

.btn,.btn-1{
    border: 1px solid dodgerblue;
    padding: 10px 30px;
    border-radius: 4px;
    color: #fff;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    background-color:dodgerblue;
    text-decoration: none;
    

}
.button{
    padding-top: 2rem;
}

.main{
    padding: 6rem;
}

#para1{
    padding-top: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    color:#6F7A93;
}

.main{
    text-align: center;
}

#sp0{
    color:#46C150;
}

#sp1{
    color: deepskyblue;
}
#head1{
    font-size: 60px;
}

#head2{
    font-size: 40px;
    color: #10234B;
    text-transform: initial;
}

#img1{
    padding: 0%;
}

.detail{
    padding: 0px 150px;
    margin-top: 3rem;
}
.more{
    padding: 0px 150px;
    margin-top: 7rem;
}
#para2{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color:#3F4E6E;
}


#img2{
    padding-left: 30px;
    height: 50px;
    width: 80px;
}

#img3{
    padding-left: 3rem;
    padding-right: 1rem;
    height: 80px;
    width: 160px;
}

.box {
    padding-left: 42rem;
    display: flex;
    margin-top: -7rem;

  }
  
#sp2{
    font-size: 30px;
    font-family:'Times New Roman', Times, serif;
    font-weight: bolder;
}
.box1,.box2,.box3{
    padding-top: 10px;
    height: 90px;
    width: 190px;
    border-radius: 6px;
    color: #3F4E6E;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.box1{
    background: #DFEEFF;
    margin-right: 20px;
}
.box2{
    background: #E1F5E3; 
    margin-right: 20px;
}
.box3{
    background: #FFE9E1;
}
.lines{
    padding-left: 42rem;
    margin-top: -6.5rem;
    display: flex;
}
.hor-line1,.hor-line2,.hor-line3{
    width: 5cm;
    height: 2px;
}
.hor-line1{
    background-color: #6798E0;
    margin-right: 20px;
}
.hor-line2{
    background-color: #FFA081;
    margin-right: 20px;
}
.hor-line3{
    background-color: #80D588;
}
.info{
    padding-left: 42rem;
    display: flex;  
}
.info1,.info2,.info3{
    padding-top: 10px;
    height: 90px;
    width: 190px;
    color: #3F4E6E;
    text-align:left;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-weight:bolder;
    font-size: 14px;
    letter-spacing: -1px;

}
.info1,.info2{
    margin-right: 18px;
}
.info-detail{
    padding-left: 42rem;
    display:flex;
    margin-top: -3.5rem;
}
.info-detail1,.info-detail2,.info-detail3{
    padding-top: 10px;
    height: 90px;
    width: 190px;
    font-family: Arial, Helvetica, sans-serif;
    color:#6F7A93;
    text-align: left;
}
.info-detail1,.info-detail2{
    margin-right: 18px;
}
.button1{
    padding: 0px 150px;
    margin-top: 4rem;
    margin-bottom: 1rem;
}
.dotted-box {
    border: transparent;
    width: 120px;
    height: 105px;
    background-color: white;
    background-image: radial-gradient(#9CCAFF 1.5px, transparent 1.5px),
                      radial-gradient(#9CCAFF 1.5px, transparent 1.5px);
    background-size: 10px 10px;
   border-radius: 20px 20px 0 0;
    
}
.dot-box{
    margin-top: -4.5rem;
    padding: 0 100px;
}


